QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://... # url for postgres metadata store
QUARKUS_DATASOURCE_USERNAME=postgres-user # user for accessing postgres metadata store
QUARKUS_DATASOURCE_PASSWORD=postgres-password # pw for accessing postgres metadata store
ICEBERG_WAREHOUSE_HOST=/absolute/path/to/data/directory # external SSD paths must also be mounted into the Podman machine on podman init
